/*Blogs*/

.blogs {
  margin-bottom:  50px;

  @media(min-width: 1200px) {margin-bottom:  90px;}

  &__center-wrap {
    .center-wrap();
  }

  & .blog {

    @media(min-width: 700px) {
      padding: 0  60px;
    }
  }
}
