/*Available*/

.available {
  position:   absolute;
  right:      0;
  top:        0;

  display:    block;
  width:      68px;
  height:     59px;

  font-size:  0;

  &--yes {

    &:before {
      position:  absolute;
      top:       50%;
      left:      20%;

      content:  '';
      display:  block;
      width:    14px;
      height:   2px;

      background-color:  @check-color--yes;

      transform:         rotate(45deg)  translate(9px, -0.5px)
    }

    &:after {
      position:  absolute;
      top:       50%;
      left:      20%;

      content:  '';
      display:  block;
      width:    28px;
      height:   2px;

      background-color:  @check-color--yes;

      transform:         rotate(-45deg)  translate(10px, 10px);
    }
  }

  &--no {

    &:before {
      position:  absolute;
      top:       50%;
      left:      23%;

      content:  '';
      display:  block;
      width:    34px;
      height:   2px;

      background-color:  @check-color--no;

      transform:          rotate(45deg)  translate(2px, 0)
    }

    &:after {
      position:  absolute;
      top:       50%;
      left:      23%;

      content:  '';
      display:  block;
      width:    34px;
      height:   2px;

      background-color:  @check-color--no;

      transform:         rotate(-45deg)  translate(2px, 0);
    }
  }
}