/*Btns*/

.btn {
  display:           inline-block;
  vertical-align:    middle;
  padding:           10px 20px;

  font-family:       @font-family--bold;
  font-size:         @text-size-2;
  text-decoration:   none;
  text-align:        center;
  text-transform:    none;
  font-weight:       bold;
  color:             @btn-color;

  background-color:  none;

  &--download {
    width:          100%;
    min-height:     55px;
    margin-bottom:  30px;


    border:            @btn-border-width @btn-border-style @btn-border-color;
    border-radius:     @btn-radius;
    background-color:  @btn-bg;
  }
}