/*Developed*/

.developed {
  width:         145px;
  margin:        0 auto;
  padding-left:  6px;

  &__link {
    text-decoration:  none;
    color:            @blue;
    line-height:      @line-height--mid;
  }

  &__img {
    width:        42px;
    margin-left:  5px;
  }
}
