/*Features prev*/

.features-prev {
  padding-bottom:  100px;

  &__center-wrap {
    .center-wrap();
  }

  &__title {
    margin-bottom:  30px;

    font-family:    @font-family--light;
    font-size:      @font-size--h2;
    line-height:    @line-height--auto;
    text-align:     center;

    @media(min-width: 700px) {
      margin-bottom:  0;

      font-size:      40px;
    }
  }

  @media(min-width: 700px) {
    margin-bottom:  54px;
  }
}