/*Inner header*/

.inner-header {
  margin-bottom:        35px;

  background-image:     url("@{img}/main-header-bg.png");

  background-position:  50%  -65px;

  background-size:      auto  545px;

  background-repeat:    no-repeat;

  background-color:     #2b3a4a;

  & .header-top {
    margin-bottom:  32px;
  }

  & .header-bottom {

    &__center-wrap {
      padding-bottom:  46px;
    }
  }
}
