/*Main header*/

.main-header {
  margin-bottom:        42px;

  background-image:     url("@{img}/iphone-hand-mobile.png"),
                        url("@{img}/background-mobile.jpg");

  background-position:  48%  171px,
                        50%  -5px;

  background-size:      260px  auto,
                        auto  500px;

  background-repeat:    no-repeat;

  background-color:     #2b3a4a;
  
  @media(min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
    background-image:     url("@{img}/iphone-hand-mobile@1x.png"),
                          url("@{img}/background-mobile@1x.jpg");
  }

  @media(-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) { 
    background-image:     url("@{img}/iphone-hand-mobile@2x.png"),
                          url("@{img}/background-mobile@2x.jpg");
  }

  @media(-webkit-min-device-pixel-ratio: 3), 
        (min-resolution: 288dpi) { 
    background-image:     url("@{img}/iphone-hand-mobile@3x.png"),
                          url("@{img}/background-mobile@3x.jpg");
  }

  @media(min-width: 700px) {
    background-image:     url("@{img}/iphone-hand-tablet.png"),
                          url("@{img}/background-tablet.jpg");

    background-position:  50%  185px,
                          50%  2px;

    background-size:      700px auto;

    @media(min-resolution: 144dpi),
          (min-resolution: 1.5dppx) {
      background-image:     url("@{img}/iphone-hand-tablet@1x.png"),
                            url("@{img}/background-tablet@1x.jpg");
    }

    @media(-webkit-min-device-pixel-ratio: 2), 
          (min-resolution: 192dpi) { 
      background-image:     url("@{img}/iphone-hand-tablet@2x.png"),
                            url("@{img}/background-mobile@2x.jpg");
    }
  }
}