/*Main header*/

.main-header {
  margin-bottom:        42px;

  background-image:     url("@{img}/main-header-bg.png");

  background-position:  50%  -65px;

  background-size:      auto  545px;

  background-repeat:    no-repeat;

  background-color:     #2b3a4a;

  & .header-bottom {

    &__center-wrap {

      background-image:     url("@{img}/main-header-hand.png"),
                            url("@{img}/main-header-hand--back.png");

      background-position:  93%  85px,
                            50%  119px;

      background-size:      505px  auto,
                            110px  auto;

      background-repeat:    no-repeat;
    }
  }
}