/*Map area*/

.map-area {
  position:   relative;

  height:     200px;

  overflow:   hidden;

  @media(min-width: 700px) {
    height:         380px;
    margin-bottom:  42px;
  }

  &__google {
    display:  block;
    width:    100%;
    height:   200px;

    @media(min-width: 700px) { height:  380px; }
  }

  &:after {
    position:          absolute;
    left:              50%;
    top:               50%;
    z-index:           -1;

    content:           '';
    display:           block;
    width:             36px;
    height:            36px;

    background-color:  @purple;
    border:            10px  solid  #fff;
    border-radius:     50%;

    transform:         translate(-18px, -4px);
  }

  &__img--mobile {
    position:     absolute;
    top:          -445px;
    left:         50%;
    z-index:      -1;

    margin-left:  -160px;

    @media(min-width: 700px) { display:  none; }
  }

    &__img--tablet {
    position:     absolute;
    top:          -355px;
    left:         50%;
    z-index:      -1;

    margin-left:  -350px;
  }
}