/*Photos*/

.photos {
  padding:           0;
  padding-top:       28px;
  padding-bottom:    7px;
  margin-bottom:     48px;

  border:            none;
  background-color:  @form-bg;

  @media(min-width: 700px) {
    margin-bottom:     58px;

    background-color:  transparent;
  }

  &__center-wrap {
    .center-wrap();
  }

  &__inner {

    @media(min-width: 700px) {
      position:        relative;

      padding-top:     42px;
      padding-left:    58px;
      padding-right:   58px;
      padding-bottom:  20px;

      border:          2px  @form-border-style  @form-border-color;
    }

    @media(min-width: 1200px) { padding-bottom:  31px; }
  }

  &__title {
    margin-bottom:   34px;

    line-height:     @line-height--mid+.03;
    text-transform:  uppercase;
    color:           @form-label-color;
    font-weight:     normal;
    text-align:      center;

    @media(min-width: 700px) {
      position:          absolute;
      top:               -18px;
      left:              165px;

      padding:           0 20px;

      background-color:  #fff;
    }

    @media(min-width: 1200px) { left:  325px; }
  }

  &__input { display:  none; }

  hr {
    margin-bottom:  35px;

    border:         1px  @form-border-style  @form-border-color;

    @media(min-width: 700px) { margin-bottom:  65px; }
    @media(min-width: 1200px) { margin-bottom:  67px; }
  }
}

.imgs {

  &__photo-wrap {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;

    @media(min-width: 700px) { justify-content:  space-between; }
  }

  &__photo-item {
    position:      relative;

    margin-right:  38px;
    width:         68px;

    @media(min-width: 700px) {
      margin-bottom:  26px;
      width:          120px;
    }
    @media(min-width: 1200px) {
      margin-bottom:  2px;
      margin-right:   55px;
    }

    &:nth-last-of-type(-n+3) { margin-bottom:  0; }

    &:nth-last-of-type(2) {
      @media(min-width: 700px) { margin-right:  70px; }
      @media(min-width: 1200px) { margin-right:  55px; }
    }

    &:nth-child(3n) {
      margin-right:  0;

      @media(min-width: 1200px) { margin-right:  55px; }
    }

    &:nth-child(5n) {
      @media(min-width: 1200px) { margin-right:  0; }
    }

    &:last-of-type {
      @media(min-width: 700px) { margin-right:  auto; }
    }
  }
}