/*Reviewer*/

.reviewer {
  display:         flex;
  flex-direction:  column;

  @media(min-width: 1200px) {
    padding-top:  125px;
  }

  &__title {
    margin-bottom:  12px;

    font-family:    @font-family--bold;
    font-size:      @font-size--h3;
    line-height:    @headings-line-height;
    font-weight:    bold;
    color:          #000;
    text-align:     center;

    @media(min-width: 700px) {
      margin-bottom:  5px;

      font-size:      @font-size--h3+.2;
      line-height:    1.5;
    }

    @media(min-width: 1200px) {
      margin-bottom:  1px;

      font-size:      @font-size--h2;
      line-height:    @line-height--mid;
    }
  }

  &__descr {
    position:     relative;

    line-height:  @line-height--big;
    text-align:   center;

    @media(min-width: 700px) {
      order:          -1;
      margin-bottom:  17px;

      font-size:      @font-size+.4;
      line-height:    @headings-line-height;
    }

    @media(min-width: 1200px) {
      margin-bottom:  20px;
    }
  }

  &__comment {
    margin:  0;

    &:before { content:  open-quote; }

    &:after { content:  close-quote; }

    @media(min-width: 1200px) { quotes:  none; }
  }

  &__prof {
    display:     none;

    text-align:  center;

    @media(min-width: 700px) { display:  block; }
    @media(min-width: 1200px) {
      font-size:    @text-size-2;
      line-height:  @headings-line-height;
    }
  }

  &__quotes {
    position:   absolute;
    top:        -114px;
    left:       50%;

    fill:       @gray-10;

    transform:  translateX(-50%);

    @media(max-width: 1200px) { display:  none; }
  }
}