/*Reviewer*/

.reviewer {
  display:         flex;
  flex-direction:  column;

  &__title {
    margin-bottom:  12px;

    font-family:    @font-family--bold;
    font-size:      @font-size--h3;
    line-height:    @headings-line-height;
    font-weight:    bold;
    color:          #000;
    text-align:     center;

    @media(min-width: 700px) {
      margin-bottom:  5px;

      font-size:      @font-size--h3+.2;
      line-height:    1.5;
    }
  }

  &__descr {
    line-height:  @line-height--big;
    text-align:   center;

    @media(min-width: 700px) {
      order:          -1;
      margin-bottom:  17px;
      font-size:      @font-size+.4;
      line-height:    @headings-line-height;
    }
  }

  &__comment {
    margin:  0;

    &:before { content:  open-quote; }

    &:after { content:  close-quote; }
  }

  &__prof {
    display:  none;

    text-align:  center;

    @media(min-width: 700px) { display:  block; }
  }
}