/*Reviews*/

.reviews {
  margin-bottom:  7px;

  @media(min-width: 700px) { padding-bottom:  100px; }
  @media(min-width: 1200px) { margin-bottom:  37px; }

  &__center-wrap {
    .center-wrap();
  }

  & .slider {

    @media(min-width: 1200px) { min-height:  320px; }
  }
}
