/*Send form*/

.send-form {
  margin-bottom:  58px;

  @media(min-width: 700px) { margin-bottom:  66px; }
  @media(min-width: 1200px) { margin-bottom:  37px; }

  &__center-wrap {
    .center-wrap();

    @media(min-width: 700px) {
      display:          flex;
      justify-content:  space-between;
      align-items:      baseline;
    }

  }

  &__required {
    text-transform:  uppercase;
    text-align:      center;
  }

  &__star {
    color:  @purple;
  }

  &__hidden {

    color:  @blue;

    @media(max-width: 1200px) { display:  none; }
  }
}
