/*Slider*/

.arrows() {
  top:         152px;
  left:        -22px;

  display:     block;
  width:       auto;
  height:      auto;

  border:      none;
  background:  none;

  & .slider__arrow {
    display:  block;

    fill:     @arrow-color;
  }
}


.slider {
  position:     relative;

  min-height:   380px;

  overflow:     hidden;

  @media(min-width: 700px) { min-height:  235px; }

  &__slide {
    position:     absolute;

    width:        280px;

    transition:   all  .3s  .2s  ease-in-out;

    @media(min-width: 700px) { width:  620px; }
    @media(min-width: 1200px) {
      width:    940px;
      padding:  0  100px;
    }

    &:nth-of-type(1) {
      left:  0;
    }

    &:nth-of-type(2) {
      left:  320px;

      @media(min-width: 700px) { left:  700px; }
      @media(min-width: 1200px) { left:  1200px; }
    }

    &:nth-of-type(3) {
      left:  640px;

      @media(min-width: 700px) { left:  1400px; }
      @media(min-width: 1200px) { left:  2400px; }
    }
  }

  &__input {
    display:  none;

    &[value$="1"]:checked {

      ~ .slider__slide {
        transform:  translateX(0);
      }

      ~ .slider__label:nth-of-type(1) {
        bottom:             96px;

        width:              12px;
        height:             12px;
        margin-left:        -32px;

        background-color:   transparent;
        border:             3px  solid  @control-color--active;

        @media(min-width: 700px) { bottom:  2px; }
      }

      ~ .slider__label:nth-of-type(3) {

        @media(min-width: 1200px) {
          .arrows();
          left:  -22px;
        }
      }

      ~ .slider__label:nth-of-type(2) {

        @media(min-width: 1200px) {
          .arrows();
          left:   auto;
          right:  0;
        }
      }
    }

    &[value$="2"]:checked {

      ~ .slider__slide {
        transform:  translateX(-320px);

        @media(min-width: 700px) { transform:  translateX(-700px); }
        @media(min-width: 1200px) { transform:  translateX(-1200px); }
      }

      ~ .slider__label:nth-of-type(2) {
        bottom:             96px;

        width:              12px;
        height:             12px;
        margin-left:        -6px;

        background-color:   transparent;
        border:             3px  solid  @control-color--active;

        @media(min-width: 700px) { bottom:  2px; }
      }

      ~ .slider__label:nth-of-type(1) {

        @media(min-width: 1200px) {
          .arrows();
          left:  30px;
        }
      }

      ~ .slider__label:nth-of-type(6) {

        @media(min-width: 1200px) {
          .arrows();
          left:   auto;
          right:  0;
        }
      }
    }

    &[value$="3"]:checked {

      ~ .slider__slide {
        transform:  translateX(-640px);

        @media(min-width: 700px) { transform:  translateX(-1400px); }
        @media(min-width: 1200px) { transform:  translateX(-2400px); }
      }

      ~ .slider__label:nth-of-type(3) {
        bottom:             96px;

        width:              12px;
        height:             12px;
        margin-left:        19px;

        background-color:   transparent;
        border:             3px  solid  @control-color--active;

        @media(min-width: 700px) { bottom:  2px; }
      }

      ~ .slider__label:nth-of-type(5) {

        @media(min-width: 1200px) {
          .arrows();
          left:  0;
        }
      }

      ~ .slider__label:nth-of-type(4) {

        @media(min-width: 1200px) {
          .arrows();
          left:   auto;
          right:  0;
        }
      }
    }

    &[value$="4"]:checked {

      ~ .slider__slide {
        transform:  translateX(20px);

        @media(min-width: 700px) { transform:  none; }
      }

      ~ .slider__label:nth-of-type(1) {
        bottom:             46px;

        width:              12px;
        height:             12px;
        margin-left:        -32px;

        background-color:   transparent;
        border:             3px  solid  @control-color--active;
      }
    }

    &[value$="5"]:checked {

      ~ .slider__slide {
        transform:  translateX(-260px);

        @media(min-width: 700px) { transform:  none; }
      }

      ~ .slider__label:nth-of-type(2) {
        bottom:             46px;

        width:              12px;
        height:             12px;
        margin-left:        -6px;

        background-color:   transparent;
        border:             3px  solid  @control-color--active;
      }
    }

    &[value$="6"]:checked {

      ~ .slider__slide {
        transform:  translateX(-540px);

        @media(min-width: 700px) { transform:  none; }
      }

      ~ .slider__label:nth-of-type(3) {
        bottom:             46px;

        width:              12px;
        height:             12px;
        margin-left:        19px;


        background-color:   transparent;
        border:             3px  solid  @control-color--active;
      }
    }
  }

  &__label {
    position:         absolute;
    bottom:           100px;
    left:             50%;
    z-index:          50;

    display:  block;
    width:    6px;
    height:   6px;

    background-color:  @control-color;
    border-radius:     50%;

    cursor:            pointer;

    &:hover {
      background-color: @control-color--hover;
    }

    &:active {
      background-color: @control-color--down;
    }

    &--hidden { display:  none; }

    & svg { display: none; }

    @media(min-width: 700px) { bottom:  5px; }
    @media(min-width: 1200px) { display:  none; }
    @media(min-width: 1200px) {

      &:link {

        & path {
          fill:  @arrow-color;
        }
      }

      &:hover {
        & path {
          fill:  @arrow-color--hover;
        }
      }

      &:active {
        & path {
          fill:  @arrow-color--active;
        }
      }
    }

    &--hidden {
      @media(max-width: 1200px) { display:  none; }
    }

    &[for$="4"],
    &[for$="5"],
    &[for$="6"] {
      bottom:  50px;

      @media(min-width: 700px) { display:  none; }
    }

    &:nth-of-type(1) {
      margin-left:  -29px;
    }

    &:nth-of-type(2) {
      margin-left:  -3px;
    }

    &:nth-of-type(3) {
      margin-left:  22px;
    }
  }
}