/*Slider*/

.slider {
  position:     relative;

  min-height:   380px;

  overflow:     hidden;

  &__slide {
    position:  absolute;

    width: 280px;

    transition: all .3s .2s ease-in-out;

    &:nth-of-type(1) {
      left: 0;
    }

    &:nth-of-type(2) {
      left: 320px;
    }

    &:nth-of-type(3) {
      left: 640px;
    }
  }

  &__input {
    display:  none;

    &[value$="1"]:checked {

      ~ .slider__slide {
        transform:  translateX(0);
      }

      ~ .slider__label:nth-of-type(1) {
        bottom:             96px;

        width:              12px;
        height:             12px;
        margin-left:        -32px;

        background-color:   transparent;
        border:             3px solid @control-color--active;
      }
    }

    &[value$="2"]:checked {

      ~ .slider__slide {
        transform:  translateX(-320px);
      }

      ~ .slider__label:nth-of-type(2) {
        bottom:             96px;

        width:              12px;
        height:             12px;
        margin-left:        -6px;

        background-color:   transparent;
        border:             3px solid @control-color--active;
      }
    }

    &[value$="3"]:checked {

      ~ .slider__slide {
        transform:  translateX(-640px);
      }

      ~ .slider__label:nth-of-type(3) {
        bottom:             96px;

        width:              12px;
        height:             12px;
        margin-left:        19px;

        background-color:   transparent;
        border:             3px solid @control-color--active;
      }
    }

    &[value$="4"]:checked {

      ~ .slider__slide {
        transform:  translateX(0);
      }

      ~ .slider__label:nth-of-type(1) {
        bottom:             96px;

        width:              12px;
        height:             12px;
        margin-left:        -32px;

        background-color:   transparent;
        border:             3px solid @control-color--active;
      }
    }

    &[value$="5"]:checked {

      ~ .slider__slide {
        transform:  translateX(-320px);
      }

      ~ .slider__label:nth-of-type(2) {
        bottom:             96px;

        width:              12px;
        height:             12px;
        margin-left:        -6px;

        background-color:   transparent;
        border:             3px solid @control-color--active;
      }
    }

    &[value$="6"]:checked {

      ~ .slider__slide {
        transform:  translateX(-640px);
      }

      ~ .slider__label:nth-of-type(3) {
        bottom:             96px;

        width:              12px;
        height:             12px;
        margin-left:        19px;


        background-color:   transparent;
        border:             3px solid @control-color--active;
      }
    }
  }

  &__label {
    position:         absolute;
    bottom:           100px;
    left:             50%;

    display:  block;
    width:    6px;
    height:   6px;

    background-color:  @control-color;

    border-radius:     50%;

    cursor:            pointer;

    &:nth-of-type(1) {
      margin-left:      -29px;
    }

    &:nth-of-type(2) {
      margin-left:      -3px;
    }

    &:nth-of-type(3) {
      margin-left:      22px;
    }

    // &--active {
    //   bottom: 93px;

    //   width:              12px;
    //   height:             12px;

    //   background-color:   transparent;
    //   border:             3px solid @control-color--active;
    // }
  }
}