/*Socials*/

.socials-icon() {
  display:              block;
  width:                52px;
  height:               52px;

  background-image:     url("@{img}/sprite-socials.png");
  background-repeat:    no-repeat;
  background-position:  50%  50%;
  border:               3px  solid  @socials-bdr-color;
  border-radius:        50%;

  &:hover {
    border-color:  @socials-bdr-color--hover;
  }

  &:active {
    border-color:  fade(@socials-bdr-color--hover, 10%);

    svg { opacity:  .3; }
  }
}

.socials {
  display:          flex;
  flex-direction:   row;
  flex-wrap:        nowrap;
  justify-content:  space-between;
  padding:          0;
  margin:           0;
  width:            180px;
  margin:           0  auto;
  margin-bottom:    33px;

  list-style:       none;
  font-size:        0;

  @media(min-width: 700px) {
    margin:       0;
    margin-left:  -10px;
  }

  @media(min-width: 1200px) { margin-left:  15px; }

  &__item {

  }

  &__twitter {
    .socials-icon();
    background-position:  14px  12px;
    background:           none;

    svg {
      position:  relative;
      top:       16px;
      left:      14px;

      fill:      @purple;
    }
  }

  &__facebook {
    .socials-icon();
    background-position:  -48px  12px;
    background:           none;

    svg {
      position:  relative;
      top:       14px;
      left:      18px;

      fill:      @purple;
    }
  }

  &__youtube {
    .socials-icon();
    background-position:  -112px  12px;
    background:           none;

    svg {
      position:  relative;
      top:       16px;
      left:      18px;

      fill:      @purple;
    }
  }
}
