/*Support*/

.support-icon() {
  display:            inline-block;
  height:             60px;
  width:              60px;
  margin-right:       15px;
  margin-bottom:      20px;

  font-size:          0;
  vertical-align:     middle;

  background-image:   url("@{img}/sprite-support.png");
  background-repeat:  no-repeat;
}

.support {

  &__apple {
    .support-icon();
    margin-left:  30px;

    background-position:  5px  0;
  }

  &__android {
    .support-icon();

    background-position:  -70px  0;
  }

  &__win {
    .support-icon();
    margin-right:  0;

    background-position:  -150px  0;
  }

  &__text {
    font-family:  @font-family--light;
    color:        @support-text-color;
    text-align:   center;
  }
}