/*Support*/

.support-icon() {
  display:           inline-block;
  height:            60px;
  width:             60px;
  margin-right:      15px;
  margin-bottom:     20px;

  font-size:         0;
  vertical-align:    middle;

  background-image:  url(https://placeholdit.imgix.net/~text?txtsize=8&txt=60%C3%9760&w=60&h=60);
}

.support {

  &__apple {
    .support-icon();
    margin-left:  30px;
  }

  &__android {
    .support-icon();
  }

  &__win {
    .support-icon();
    margin-right:  0;
  }

  &__text {
    font-family:  @font-family--light;
    color:        @support-text-color;
    text-align:   center;
  }
}